<article>
  <!-- Content Header (Page header) -->
  <header class="content-header container-fluid">
    <div class="row">
      <div class="col-lg-8">
        <h1 class="content-max-width">Installation</h1>
      </div>
    </div>
  </header>

  <!-- Main content -->
  <div class="content container-fluid">
    <div class="row">
      <div class="col-lg-8">
        <section class="content-max-width">
          <section id="installation">
            <p>
              TODO: Client SDK for accessign API
            </p>
          </section>
        </section>
      </div>
      <div class="col-lg-4">
        <div class="box box-solid limit-p-width">
        </div>
      </div>
    </div>
  </div>
  <!-- /.content -->
</article>