<div class="cont">
  <div class="demo">
    <h1>Dashboard</h1>

    <div class="dashbaord">
      {{#dashboard-base token=model.token as |db| }}
        {{dashboard-variables vars=db.v sendMessage=db.sendMessage}}
        {{dashboard-logger logs=db.l}}
      {{/dashboard-base}}
    </div>
  </div>
</div>
