<div class="login_wrapper">
  <div class="form login_form">
    <section class="login_content">
      <form>
        <h1>Welcome To Observer</h1>
        <div>
          <input type="text" class="form-control" value={{model.apiKey}} required="" readonly=true />
        </div>
        <div>
          {{#link-to 'dashboard' class="btn btn-default"}} Push to Start {{/link-to}}
        </div>

        <div class="clearfix"></div>

        <br />

        <div>
          <p>©2017 All Rights Reserved. Privacy and Terms</p>
        </div>
      </form>
    </section>
  </div>
</div>